.clipPlayerDiv {
    margin: 0 auto;
    width: 100%;
    min-width: 800px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.clipHeader {
    margin: 0 auto;
    width: 75%;
    height: 100px;
}

.clipUser {
    height: 100%;
    width: 100px;
    float: left;
    background-color: blue;
}

.clipUserBadges {
    height: 100%;
    width: 200px;
    float: left;
    background-color: grey;
}

.clipUserActions {
    height: 100%;
    width: calc(100% - 300px);
    float: left;
    background-color: red;
}

.clipPlayer {
    margin: 0 auto;
    width: 75%;
    display: inline-block;
    object-fit: fill;
}

.clipPlayer:focus {
    outline: none;
}

.clipSideTab {
    position: absolute;
    width: 70px;
    height: 250px;
    display: inline-block;
    background-color: aqua;
}

.clipFooter {
    margin: 0 auto;
    width: 75%;
    height: 50px;
    margin-top: -6px;
    background-color: yellow;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}