.postColumn {
    margin-top: 90px;
}

.postDiv {
    width: 100%;
    background-color: bisque;
}

.postHeader {
    margin: 0 auto;
    height: auto;
    width: 75%;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
    font-size: 22px;
    font-weight: 600;
}

.browseClipDiv {
    margin: 0 auto;
    height: auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
}

.uploadClipFilename {
    vertical-align: middle;
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    float: right;
}

.uploadInput {
    display: none;
}

.browsePosterDiv {
    margin: 0 auto;
    height: auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
}

.clipTitleDiv {
    margin: 0 auto;
    height: auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    background-color: red;
}

.gameTitleDiv {
    margin: 0 auto;
    height: auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    background-color: orange;
}

.postButton {
    width: 190px;
    height: 35px;
    border-radius: 20px;
}