.filter {
    position: fixed;
    width: 200px;
    height: 560px;
    left: 4%;
    margin-top: 107px;
}

.filterTitle {
    margin: 0 auto;
    height: 60px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid black;
}

.filterIcon {
    width: 60px;
    height: 60px;
    border-bottom: 2px solid black;
}

.filterOptionsSetOne {
    width: 100%;
    height: 200px;
}

.filterOptionsSetTwo {
    width: 100%;
    height: 240px;
}

.filterOption {
    width: 100%;
    height: calc(100% / 5);
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px dashed black;
}

.selectedFilterOption {
    width: 100%;
    height: calc(100% / 5);
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px dashed black;
    color: #32cd32;
}

.filterOptionSetTwo {
    width: 100%;
    height: calc(100% / 6);
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px dashed black;
}

.selectedFilterOptionSetTwo {
    width: 100%;
    height: calc(100% / 6);
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px dashed black;
    color: #32cd32;
}

.profileColumn {
    margin-top: 90px;
}

.profileDiv {
    margin: 0 auto;
    width: 100%;
    min-width: 800px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.profileUsername {
    margin: 0 auto;
    height: auto;
    width: 75%;
}

.profileUsernameText {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
    font-size: 26px;
    font-weight: 600;
}

.userHeader {
    margin: 0 auto;
    width: 75%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profileUser {
    height: 100%;
    width: 85px;
    float: left;
}

.userImageDiv {
    height: 100%;
    width: 85px;
    float: left;
}

.userImage {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.profileUserActions {
    height: 100%;
    width: calc(100% - 195px);
    float: left;
}

.userActionButton {
    width: 100px;
    height: 35px;
    top: 50%;
    float: right;
    margin-left: 6px;
    border-radius: 20px;
}

.userInfoDiv {
    margin: 0 auto;
    height: auto;
    width: 75%;
}

.userInfoSection {
    margin: 0 auto;
    height: 25px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
}

.profileUserBadges {
    height: 100%;
    width: 110px;
    float: left;
}

.topLeftBadge {
    height: 50%;
    width: 50%;
    display: inline-block;
}

.topRightBadge {
    height: 50%;
    width: 50%;
    display: inline-block;
}

.bottomLeftBadge {
    height: 50%;
    width: 50%;
    margin-top: -5.6px;;
    display: inline-block;
}

.bottomRightBadge {
    height: 50%;
    width: 50%;
    margin-top: -5.6px;
    display: inline-block;
}

.leftBadgeImage {
    position: absolute;
    max-height: 36px;
    max-width: 70px;
    margin-left: 8px;
}

.rightBadgeImage {
    position: absolute;
    max-height: 36px;
    max-width: 70px;
}

.clipsProfile {
    margin: 0 auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: -40px;
    border-bottom: 2px solid black;
}

.clipsProfileText {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}