.notFoundDiv {
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 122px;
}

.notFoundText {
    margin: 0 auto;
    height: 60px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
}

.backButton {
    width: 300px;
    height: 35px;
    border-radius: 20px;
}

.filter {
    position: fixed;
    width: 200px;
    height: 600px;
    left: 4%;
    margin-top: 122px;
}

.filterTitle {
    margin: 0 auto;
    height: 60px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #32cd32;
}

.filterIcon {
    width: 60px;
    height: 60px;
    border-bottom: 2px solid #32cd32;
}

.filterOptionsSetOne {
    width: 100%;
    height: 240px;
}

.filterOptionsSetTwo {
    width: 100%;
    height: 240px;
}

.filterOption {
    width: 100%;
    height: calc(100% / 6);
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px dashed black;
}

.selectedFilterOption {
    width: 100%;
    height: calc(100% / 6);
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px dashed black;
    color: #32cd32;
}

.clipColumn {
    margin-top: 90px;
}